{*
 * Copyright (c) 2020 Wakers.cz
 * @author Jiří Zapletal (https://www.wakers.cz, zapletal@wakers.cz)
 *}

<form n:name="form">
    <label n:name="contact">Telefon / E-mail</label>
    <input n:name="contact">

    <button n:name="save" data-wakers-progress-button>
        CTA Text
    </button>
</form>
